#block-text.block
  .content
    %h2.title App Configurations
    .inner
      %p STATUS_NEW
      .inner
        Create an App Config with this description and the ID of your STATUS that represents the new status for an activity.
      %p STATUS_FINALIZED
      .inner 
        Create an App Config with this description and the ID of your STATUS that represents the finalized status for an activity.
      %p ADMIN_USER
      .inner 
        Create an App Config with this description and the ID of your UserType that represents the ADMIN USER
      %p ADMIN_USER
      .inner 
        Create an App Config with this description and the ID of your UserType that represents the MANAGER USER